<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.migration.billing.SettlementMapper">
    <update id="splitSettlementWindow">
        UPDATE billing_window
        SET window_flag = #{flag}
        WHERE window_id = #{windowId}
    </update>
</mapper>
