<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.migration.loan.LoanAdjustmentMapper">
    <update id="repriceLoan">
        UPDATE loan_contract
        SET interest_rate = #{rate}
        WHERE contract_id = #{contractId}
    </update>

    <update id="repriceLoan">
        UPDATE loan_contract
        SET last_reviewed_by = #{operator}
        WHERE contract_id = #{contractId}
    </update>
</mapper>
